.grid {
    display: grid;
}
.grid-2{
    grid-template-columns: 1fr 2fr;
}
.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.jc{
    justify-content: center;
}
.sp {
    justify-content: space-between;
}

.list-none {
    list-style: none;
}

.pointer {
    cursor: pointer;
}

.grid-6 {
    grid-template-columns: repeat(5, 1fr);
}

.cursor {
    cursor: pointer;
}

.no-display {
    display: none;
}
.flex{
    display: flex;
    /*flex-direction: column;*/
}
.js{
    justify-content: space-between;
}

/*Home*/
.home{
    margin-left: 4rem;
    margin-right: 4rem;
}
.title-text {
    text-align: center;
}

.section-title {
    margin-left: 2rem;
}

.pages {
    display: flex;
}

.pages-left {
    margin-left: 3rem;
    margin-right: 14rem;
}

.pages-right {
    margin-right: 5rem;
    margin-left: 9rem;
}

.link > * {
    text-decoration: none;
}

.movies {
    grid-row-gap: 2rem;
}

.movie-wrapper {
    /*margin-left: 4rem;*/
    /*margin-right: 4rem;*/
    text-align: center;

}

.movie-item-wrapper {
    padding: 0px;

}

.movie-item {
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.hover-text {

    position: absolute;
    margin-top: 0px;
    margin-left: 34px;
    margin-right: 34px;

    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.inner-text {
    color: #fff;
}

.movie-name {

}

.shows {
    grid-gap: 20px;
    justify-content: center;
   margin-left: auto;
    margin-right: auto;
}

.show-item-wrapper {
    text-align: center;
}


.show-item {
    height: 8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.browse {
    margin: 2rem 4rem 2rem 4rem;
}

/*Search*/
.search-bar-wrapper {
    margin: 2rem 8rem 2rem 8rem;
    display: flex;

}


.search {
    height: 2rem;
    flex: 2;
    outline: transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-search {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: transparent;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.results{
    margin: 2rem 4rem;
}

/*Movies Details*/
.movie-background-wrapper{
    padding: 2rem 8rem;
    background-position: center;
    background-size: cover;
}
.poster>img{
    height: 400px;
}
.rating{
    margin-top: 10px;
    background-color: black;
    color: white;
    height: 30px;
    width: 4%;
    text-align: center;
    padding-top: 4px;
    border-radius: 30px;
}
.overview{
    margin-top: 20px;
}
/*Shows*/
.shows-background-wrapper{
    padding: 2rem 8rem;
    background-position: center;
    background-size: cover;
}
.season-details{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.season-img{
    object-fit: contain;
    width: 100px;
}

/*API*/
.api{
    text-align: center;
}
.tmdb-logo{
    margin-top: 10rem;
    width: 300px;
}

/*About*/
.about{
    text-align: center;
}
/*Privacy*/
.privacy{
    text-align: center;
}

/*Ipad*/
@media only screen and (max-width: 820px) {
    .pages-left{
        margin-left: 2rem;
        margin-right: 0rem;
    }
    .pages-right{
        margin-right: 2rem;
        margin-left: 0rem;
    }
   .movie-item{
       height: 10rem;
   }
    .hover-text{
        margin-left: 0px;
        margin-right: 0px;
        line-height: 10px;
    }
    .inner-text{
        font-size: 8px;
    }
    .movie-background-wrapper{
        padding: 1px 2px;
        text-align: center;
    }
    .poster>img{
        height: 350px;
    }
    .rating{
        margin: auto;
        width: 20%;
    }
    .shows-background-wrapper{
        padding: 1px 2px;
        text-align: center;
    }
    .season{
        padding: 10px 30px;
    }

}
/*Ipad Pro*/
@media only screen and (max-width: 840px) and (min-width: 821px) {
    .pages-left{
        margin-left: 2rem;
        margin-right: 0rem;
    }
    .pages-right{
        margin-right: 2rem;
        margin-left: 0rem;
    }
    .movie-item{
        height: 12rem;
    }
    .hover-text{
        margin-left: 0px;
        margin-right: 0px;
        line-height: 14px;
    }
    .inner-text{
        font-size: 10px;
    }
    .movie-background-wrapper{
        padding: 1px 2px;
        text-align: center;
    }
    .rating{
        margin: auto;
        width: 20%;
    }
    .shows-background-wrapper{
        padding: 10px 2px;
        text-align: center;
    }
    .season{
        padding: 20px 30px;
    }
}
/*Mobile Devices*/
@media only screen and (max-width:420px){
    .nav-bar>div{
      grid-template-columns: 0.7fr 0.5fr 0.7fr !important;
    }
    .section-title{
        text-align: center;
        margin-left: 0px;
    }
    .pages{
        font-size: 12px;
    }
    .title-text{
        font-size: 1rem;
    }
    .pages-left{
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 4px;

    }
    .pages-right{
        margin-right: 0rem;
        margin-left: 0rem;
        padding: 4px    ;
    }
    .movies{
        display: flex !important;
        flex-direction: column;
    }
    .movie-item{
        height: 14rem;
    }
    .shows{
        display: grid;
        grid-template-columns: 1fr 1fr !important;
    }
    .search-bar-wrapper{
        margin: 10px;
    }
    .hover-text{
        margin-left: 64px;
        margin-right: 64px;
        line-height: 14px;
    }
    .inner-text{
        font-size: 10px;
    }
    .movie-background-wrapper{
        padding: 1px 2px;
        text-align: center;
    }
    .movie-background-wrapper>div{
        display: flex;
        flex-direction: column;
    }
    .rating{
        margin: auto;
        width: 30%;
    }
    .shows-background-wrapper>div{
        display: flex;
        flex-direction: column;
    }
    .season-details{
        flex-direction: column;
    }
    .season-img{
        margin: auto;
    }
}